@font-face {
  font-family: monument;
  src: url(./fonts/monument.woff);
}

.q-tab {
  padding: 0 10px;
  margin: 0px;
}

.constrain {
  max-width: 1200px;
  margin: 0 auto;
}

.constrain-more {
  max-width: 600px;
  margin: 0 auto;
}
